<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codev.mall.order.mapper.CateringorderMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codev.mall.order.entity.Cateringorder">
        <id column="seq" property="seq" />
        <result column="useq" property="useq" />
        <result column="trandate" property="trandate" />
        <result column="status" property="status" />
        <result column="remittance" property="remittance" />
        <result column="info" property="info" />
        <result column="bseq" property="bseq" />
        <result column="adress" property="adress" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        seq, useq, trandate, status, remittance, info, bseq, adress
    </sql>

</mapper>
