<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codev.mall.order.mapper.OrderinfoMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codev.mall.order.entity.Orderinfo">
        <id column="seq" property="seq" />
        <result column="oseq" property="oseq" />
        <result column="ciseq" property="ciseq" />
        <result column="number" property="number" />
        <result column="price" property="price" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        seq, oseq, ciseq, number, price
    </sql>

</mapper>
