<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codev.mall.catering.mapper.CateringinfoMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codev.mall.catering.entity.Cateringinfo">
        <id column="seq" property="seq" />
        <result column="cateringname" property="cateringname" />
        <result column="ccseq" property="ccseq" />
        <result column="num" property="num" />
        <result column="price" property="price" />
        <result column="info" property="info" />
        <result column="picture_path" property="picturePath" />
        <result column="bseq" property="bseq" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        seq, cateringname, ccseq, num, price, info, picture_path, bseq
    </sql>

</mapper>
